.shaker {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.trash-can-item-list {
  background-image: url("../resources/recycle-bin.png");
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.item-table-header-added {
  min-width: 90px;
}

.item-table-header-qty {
  min-width: 70px;
}

.item-table-header-spoilage {
  min-width: 110px;
}


.home-page-odd.undefined {
  background-color: white;
  filter: brightness(94%);
}

.highlightNew {
  background-color: #9dd8fc;
  transition: 1s;
}

.textarea-element {
  max-width: 300px !important;
  min-height: 17px !important;
  max-height: 150px !important;
  height: fit-content !important;
  overflow-x: hidden;
}

.alert-text {
  width: fit-content;
}

.alert-container {
  display: flex;
  justify-content: center;
  position: absolute;
  margin: auto;
  width: 100%;
  top: 50px;
}

.item-column {
  min-width: 250px;
}

.item-column {
  min-width: 230px;
}

.fade-in {
	opacity: 1;
  transition: 1s;
}

.fade-out {
	opacity: 0;
	transition: 1s;
	animation-duration: 2s;
}

.table-text-input {
  background-color: inherit !important;
}

.table-row {
  transition: 1s;
}